ul.menu {
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
   float: left;
}

ul.menu li a {
  padding: .3em;
  display: block;
  text-decoration: none;
  color: #333;
  background: #F4F4F4;
  border-top: 1px solid #7C7C7C;
  border-right: 1px solid #7C7C7C;
  border-bottom: 1px solid #9C9C9C;
}

body{
    width: 100%; height: 100%;
    background-color: aquamarine ;
    background-size: 100% auto;
}

form{
    width: max-content; height: 100%;
    border: 10px double black;
    margin: 0 auto;
    background-color: cornflowerblue;
}

legend{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
    color:lawngreen;
}

.txt{
    width:  380px !important;
}

input{
    font-size: 15px;
}

textarea{
  width: 500px; height: 100px;
}